<h1>仮User info #show</h1>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name</h3>
  <p><%= @user.name %></p>
  <h3>introduction</h3>
  <p> <%= @user.introduction%></p>
  <% if @user.id ==  current_user.id %>
    <p><%= link_to "Edir", edit_user_path(@user) %></p>
  <% end %>
</div>